#main-container {
  border: 1px solid black;
  margin: 50px 100px;
  margin-right: 350px;
  padding: 0px 30px;
}

#question-container {
  /* border: 1px solid green; */
  width: 100%;
}

#answer-list-container {
  /* border: 1px solid blue; */
}

#answer-container {
  /* border: 1px solid yellow; */
}
