#main-container {
  margin: 20px 0px;
  padding: 0px 30px;
  width: 100%;
}

#question-container {
  /* border: 1px solid black; */
  width: 100%;
  padding: 25px 0px;
  padding-right: 40px;
}

#answer-list-container {
  padding-left: 40px;
}

#answer-container {
  /* border: 1px solid yellow; */
  margin: 20px 0px 0px 0px;
}

.question-title {
  font-size: 30px;
  border-bottom: 3px solid #f47e42;
  width: 70%;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.info-container {
  width: 100%;
}

.question-markdown {
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  border: 1px solid lightgray;
}

.question-votes {
  padding-left: 70px;
  padding-right: 60px;
}

.question-info {
}

.actions-container {
  width: 100%;
}

.actions {
  color: #f47e42;
  margin: 0px 10px;
}

.answer {
  margin-right: 5px;
}

.edit {
  margin-right: 5px;
}

.actions:hover {
  cursor: pointer;
  font-weight: bolder;
}

.record-info {
  width: 100%;
  color: #707070;
  text-align: right;
}

.record-info-answer {
  text-align: left;
}

.answer-card-right > .info-container {
  border: 1px solid lightgray;
  border-bottom-width: 0px;
  padding: 5px 10px;
  background-color: #f6f8fa;
  text-align: left;
}

.actions-container {
}

.answer-card-right > .question-markdown {
  margin-top: 0px;
  border-radius: 0px;
}

.answer-list-title {
  font-size: 24px;
  border-bottom: 2px solid #707070;
  width: 100%;
}

.answer-card-left {
  padding-left: 30px;
  padding-right: 60px;
}

.answer-card-right: {
}
