html {
  font-size: 100%;
}

body {
  height: 100vh;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

#root {
  height: 100vh;
}

#header-and-body-wrapper {
  height: 100vh;
}

#sidebar {
  height: 100vh;
  display: flex;
}

button:disabled {
  opacity: 0.5;
}

#main-and-sidebar-wrapper {
  overflow: hidden;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  margin-top: 80px;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left {
  flex: 1;
  flex-shrink: 0;
  margin-right: 280px;
}

#right {
  position: fixed;
  right: 0px;
}

.tag {
  margin-right: 6px;
  border-radius: 5px;
  background-color: #f78a54;
  font-weight: 300;
}

.tag:hover {
  background-color: #f78a54;
}

.tags-container {
  margin: 1px 0px 4px 0px !important;
}

.react-tagsinput-tag {
  background-color: #f47e42;
  border: 1px solid #f47e42;
  color: #ffffff;
}

.react-tagsinput-tag:focus {
  border-color: #d9d9d9 !important;
}

input:focus, input::selection { 
  outline: none !important;
  box-shadow: none !important;
}

textarea:focus {
  outline: none !important;
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}