.card {
  width: 70%;
  border-radius: 0.2em;
  margin: 10px;
}

.side-card-container {
  width: 100px;
  margin-right: 10px;
}

.votes-container {
  margin: 4px 0;
  padding: 0 4px;
}

.answer-container {
  margin: 4px 0;
  padding: 0 4px;
  border: 2px solid #32CD32;
}
.card-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.card-body {
  color: #707070;
  margin: 7px 0;
  font-size: 14px;
}

.question-user-info {
  align-self: flex-end;
}
.subtext {
  font-size: 12px;
  margin: 3px 0;
}

.card-vote-num {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #707070;
}

.card-vote-text {
  margin: 0;
  font-size: 12px;
  color: #707070;
}

.answer-vote-num {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #32CD32;
}

.answer-vote-text {
  margin: 0 0 3px 0;
  font-size: 12px;
  color: #32CD32;
}
