.num {
  font-size: 40px;
}

.text {
  font-size: 25px;
}

.upvote {
  font-size: 25px;
  color: #f47e42;
}

.upvote:hover {
  cursor: pointer;
}

.downvote {
  font-size: 25px;
  color: black;
}

.downvote:hover {
  cursor: pointer;
}

.voted {
  font-size: 25px;
  color: #707070;
}

.voted:hover {
  cursor: pointer;
}

.icon-container {
  margin-top: 20px;
  width: 70px;
}
